header{
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro";
}

section {
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-family: "Hiragino Kaku Gothic Pro", "Arial";
}

ul.note_list {
    list-style-type: none;
}


.hidden {
    display: none;
}

textarea {
    resize: none;
}